.menu {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: grid;
  grid-template-rows: auto;
  justify-items: end;
}

.menu ul {
  list-style-type: none;
  padding: 20px;

}

.menu ul li {
  margin-bottom: 10px;
  background-color: #ce77a2;
  border-radius: 16px;
  width: 240px;
  cursor: pointer;

}

@media (min-width: 769px) and (max-width: 1024px) {
  .menu ul li {
    width: 100%;
  }
}

.menu ul li a {
  border: 1px solid white;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 1.1em;
  display: block;
  padding: 16px;
  border-radius: 16px;
  transition: background-color 0.3s;
}

.menu ul li a:hover {
  transition: border-color 0.5s;
  border: 1px solid black;

}