form {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
}
.form-title{
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 20px;
    font-weight: 800;
}
h3{
    display: flex;
    justify-content: center;
}

input {
    margin-bottom: 25px;
    border-radius: 16px;
    padding: 16px;
}

button {
    margin-top: 10px;
}
.form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
button[type="submit"],
button[type="button"] {
    border-radius: 16px;
    padding: 10px;
    width: 45%;
    
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button[type="submit"]:disabled {
    cursor: not-allowed;
}

button[type="button"] {
    background-color: #ffc107;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button[type="button"]:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.error-message {
    color: #ff0000;
    font-size: 0.9em;
    margin-top: -5px;
    margin-bottom: 10px;
}