.container {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #fccacb;
}

.app-grid-menu {
  width: 100%;
}

.app-grid-form {
  width: 100%;
}

.main-content {
  display: grid;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.grid-body {
  display: grid;
  grid-template-columns: 1fr 1.45fr; 
  justify-items: center;
  width: 100vw;
  height: 100%;
}

.app-grid-menu {
  grid-template-rows: auto;
  justify-items: end;
}

@media (max-width: 1024px) {
  .app-grid-menu {
    display: none;
  }
  .app-grid-form {
    width: 100vw;
    grid-column: 1fr; 
    
  }
  .app-grid-menu {
    grid-template-rows: auto;
    justify-items: center;
  }
}



