footer{
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
:host {
    display: block;
    background-color: #add8a3;
    color: #fff;

  }
  