form {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: start;
    padding: 20px;
}

.form-title {
    text-align: center;
    font-size: 1.1em;
    margin: 20px;
    font-weight: 800;
    width: 60%;
}

input {
    margin-bottom: 25px;
    border-radius: 16px;
    padding: 16px;
    width: 60%;
}

button {
    margin-top: 10px;
}

.grid-form-buttons {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 0 20px;
    width: 65%;
}

button[type="submit"],
button[type="button"] {
    border-radius: 16px;
    padding: 10px;
    width: 100%;
}

button[type="submit"] {
    border: none;
    padding: 10px;
    cursor: pointer;
}

button[type="submit"]:disabled {
    cursor: not-allowed;
}

button[type="button"] {
    border: none;
    padding: 10px;
    cursor: pointer;
}

button[type="button"]:disabled {
    cursor: not-allowed;
}

.error-message {
    color: #ff0000;
    font-size: 0.9em;
    margin-top: -5px;
    margin-bottom: 10px;
}
@media (max-width: 1024px) {
    form {
        justify-items: center;
    }
    input{
        width: 92%;
    }
    .grid-form-buttons {
        width: 97%;
    }
  }
