<form class="grid-form" [formGroup]="flexForm" (ngSubmit)="onSubmit()">
    <div class="form-title">Grid Form</div>
    <input placeholder="First Name" formControlName="firstName" type="text">
    <div class="error-message" *ngIf="flexForm.get('firstName')?.invalid && flexForm.get('firstName')?.touched">
      First name is required.
    </div>
  
    <input placeholder="Last Name" formControlName="lastName" type="text">
    <div class="error-message" *ngIf="flexForm.get('lastName')?.invalid && flexForm.get('lastName')?.touched">
      Last name is required.
    </div>
  
    <input placeholder="Email" formControlName="email" type="email">
    <div class="error-message" *ngIf="flexForm.get('email')?.invalid && flexForm.get('email')?.touched">
      Email is required.
    </div>
  
    <input placeholder="Password" formControlName="password" type="password">
    <div class="error-message" *ngIf="flexForm.get('password')?.invalid && flexForm.get('password')?.touched">
      Password is required.
    </div>
  
    <div class="grid-form-buttons">
      <button type="button" (click)="onReset()" [disabled]="flexForm.pristine && flexForm.untouched">Reset</button>
      <button type="submit" [disabled]="flexForm.invalid">Submit</button>
    </div>
  </form>
  