.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fccacb;
}
button{
    margin: 20px;
    padding: 20px;
    border-radius: 16px;
    background-color: #95c6ec;
    cursor: pointer;
}